/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Home
- Information
- Button
- Services
- Plans
- Testimonials
- Newsletter
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/


/**************************/
/*     General Styles     */
/**************************/
:root {
	--primary: #1c262f;
	--primary-old: #121727;
	--primary-light: #212d37;
	--secondary: #0ee951;
	--tertiary: #00dabf;
	--gradient: linear-gradient(to right, #0ee951, #00dabf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: 500;
}

button {
	font-family: sans-serif;
}

p,
ul,
h4 {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

li {
  	list-style-type: none;
}

/* Custom padding */
.pt-10 {
	padding-top: 50px;
}
.pt-20 {
	padding-top: 100px;
}

.pb-10 {
	padding-bottom: 50px;
}
.pb-20 {
	padding-bottom: 100px;
}

/* Custom margin */
.mt-10 {
	margin-top: 50px;
}
.mt-20 {
	margin-top: 100px;
}

.mb-10 {
	margin-bottom: 50px;
}
.mb-20 {
	margin-bottom: 100px;
}

/* Section Background */
.home,
.services,
.plans,
.work,
.contact {
	height: 110vh;
	position: relative;
}

.about {
	height: 90vh;
	position: relative;
}


.services,
.work,
.contact,
.testimonial,
.footer {
  	background-color: var(--primary);
}

.about,
.plans,
.company,
.newsletter,
.location {
  	background-color: var(--primary-light);
}

.bottom {
  	background-color: black;
}

/* Gradient Border And Background On Icons */
.home_text,
.home .fas,
.plans .far,
.information .fas,
.work .fas,
.services .fas,
.location .far,
.location .fas {
	padding: 15px 0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#0ee951),
		to(#00dabf)
	);
	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.green {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#0ee951),
		to(#00dabf)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar-nav a:hover,
.footer a:hover,
.footer .fab:hover {
	cursor: pointer;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	background-color: var(--primary);
	-webkit-box-shadow: 0px 8px 14px -3px rgba(0,0,0,0.53); 
	box-shadow: 0px 8px 14px -3px rgba(0,0,0,0.53);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
	width: 55px;
	height: 50px;
}

.navbar .logo-text {
	color: #fff;
	font-weight: 500;
	line-height: 1.35rem;
	font-size: 1.375rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 4.55rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	overflow-y: auto;
	visibility: hidden;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: var(--primary);
	transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.navbar .dropdown-menu {
	border: none;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	background-color: var(--primary);
}

.navbar .dropdown-item {
	color: #eee;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	padding-top: 0.625rem;
	text-decoration: none;
	padding-bottom: 0.625rem;
}

.navbar .dropdown-item:hover {
  	background-color: var(--primary);
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	border: none;
	margin: 0.5rem auto 0.5rem auto;
	background-color: var(--primary-light);
}

.navbar .nav-item .nav-link {
	color: #eee;
	text-decoration: none;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	transition: all 0.2s ease;
}

.navbar .fa-stack {
	width: 2em;
	font-size: 0.75rem;
	margin-right: 0.25rem;
}

.navbar .fa-stack-2x {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#0ee951),
		to(#00dabf)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
  	color: var(--primary);
}

.navbar .fa-stack:hover .fa-stack-1x {
  	color: var(--primary);
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/****************/
/*     Home     */
/****************/
.home {
	background-image: url(../assets/images/home.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.para {
  	width: 50%;
}

.para-light {
  	opacity: 0.7;
}


/***********************/
/*     Information     */
/***********************/
.information .container-fluid .row div:first-child {
	background-color: white;
}

.information .container-fluid .row div:last-child {
  	background-color: white;
}

.information .container-fluid .row div:nth-child(2) {
	background-color: white;
}


/******************/
/*     Button     */
/******************/
.btn {
	color: white;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn:hover {
	color: white;
	box-shadow: none;
	border-radius: 0;
	padding: 10px 30px;
	transform: translate(5px, 5px);
}

/********************/
/*     Services     */
/********************/
.services .card {
	padding: 20px;
	border-radius: 0;
	border: 2px solid white;
}

.services .card:hover {
	border: 10px solid;
	transform: scale(1.01);
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px #0ee951;
}


/*****************/
/*     Galeri     */
/*****************/
.btn:focus, .btn:active, button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
	display: block;
  }
  
  .thumb{
	margin-top: 15px;
	margin-bottom: 15px;
  }

  .plans .card {
	padding: 20px;
	border: 2px solid white;
}


/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@-webkit-keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/***********************/
/*     location     */
/***********************/
.location .container-fluid .row div:first-child {
	background-color: white;
}

.location .container-fluid .row div:last-child {
  	background-color: white;
}

.location .container-fluid .row div:nth-child(2) {
	background-color: white;
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}



/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@-webkit-keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	z-index: 99;
	right: 20px;
	width: 52px;
	height: 52px;
	bottom: 20px;
	border: none;
	outline: none;
	display: none;
	position: fixed;
	cursor: pointer;
	border-radius: 50%;
	background-color: #323137;
}

#myBtn:hover {
  	background-color: #0f0f11;
}

#myBtn img {
	width: 18px;
	margin-left: 0.125rem;
	margin-bottom: 0.25rem;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background-color: var(--primary);
}

.ex-header h1 {
  	color: #fff;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
  	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f7f9fd;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
  	color: var(--secondary);
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
  	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-6px);
    }
}

.bouncer {
	animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#wa-contact {
    background: var(--gradient);
    height: 52px;
    width: 52px;
    right: 23px;
    bottom: 104px;
    position: fixed;
    color: #fff;
    font-size: 38px;
    text-align: center;
    border-radius: 50%;
    line-height: 45px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


.zocial {
			margin: 8px 4px;
			font-size: 13px;
		}
		
		
.zocial.facebook {background-color: #4863ae;}

.zocial.facebook:before {content: "f";}

.zocial.instagram {background-image: linear-gradient(to right top, #f58529, #f86c3b, #f5544e, #ec3c60, #dd2a72);}


.zocial.instagram:before{
        position: relative;
        content: " i ";
      
}

.zocial,
a.zocial {
	border: 1px solid #777;
	border-color: rgba(0,0,0,0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0,0,0,0.4);
	color: #fff;
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	cursor: pointer;
	display: inline-block;
	font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
	padding: 0 .95em 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	white-space: nowrap;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	
	position: relative;
	
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}

.zocial:before {
	content: "";
	border-right: 0.075em solid rgba(0,0,0,0.1);
	float: left;
	font: 120%/1.65 zocial;
	font-style: normal;
	font-weight: normal;
	margin: 0 0.5em 0 0;
	padding: 0 0.6em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	
	-moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	
}

/* Gradients */

.zocial {
	background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
}



/*************************/
/*     Media Queries     */
/*************************/
@media only screen and (max-width: 1024px){
	.services,
	.work,
	.testimonial,
	.about,
	.contact,
	.plans {
		height: 100%;
	}
}

@media (min-width: 992px) {
	.slider-1 .swiper-container {
		width: 92%;
	}

	.slider-1 .swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.slider-1 .swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	/* Navigation */
	.navbar {
		box-shadow: none;
		transition: all 0.2s;
		padding-top: 1.75rem;
		background-color: transparent;
	}

	.navbar.top-nav-collapse {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		background-color: var(--primary);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.875rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}

	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
}

@media only screen and (max-width: 540px) {
	h1 {
		font-size: 30px;
	}

	.para {
		width: 100%;
	
	}
	.home_text {
		display: none;
	}
}
